@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-primary: "Lexend";
  --font-heading: "Poppins";
  --color-action: #7b2cbf;
}

body.dark{
  background-color: #191919;
  color: white;
}

@layer base {
  h1 {
    @apply font-heading text-[28px] md:text-[44px] leading-[28px] md:leading-[44px] tracking-tighter font-semibold;
  }
  h2 {
    @apply font-heading text-[24px] md:text-[34px] leading-[36px] tracking-tight font-normal;
  }
  h3 {
    @apply font-heading text-[20px] leading-[30px] tracking-normal font-normal;
  }
  h4 {
    @apply font-primary text-[18px] leading-[20px] tracking-wide font-normal;
  }
  h5 {
    @apply font-primary text-[18px] leading-[20px] tracking-wide font-light;
  }

  p {
    @apply font-primary text-[18px] tracking-wider font-light text-neutral-600 dark:text-neutral-400;
  }

  li {
    @apply list-none font-light font-heading tracking-wide text-[16px] cursor-pointer text-neutral-700  hover:text-black transition-all dark:hover:text-white dark:text-neutral-100;
  }
  label {
    @apply font-primary font-light tracking-wider text-[14px]  text-neutral-700 dark:text-neutral-400;
  }
  th{
    @apply text-left border-b  border-t font-primary font-normal  tracking-wider  dark:border-neutral-700 p-2 border-neutral-300
  }
   td{
    @apply text-left border-b border-t font-primary font-light  tracking-wider  dark:border-neutral-700 p-2 border-neutral-300
  }
  .action-button {
    @apply bg-[#7b2cbf] dark:bg-[#7b2cbf] text-white flex items-center justify-center px-8 font-primary py-2 rounded-lg shadow-sm hover:shadow-xl cursor-pointer hover:bg-[#9d4edd]/80 active:bg-[#9f42eb] transition-all duration-200 disabled:bg-violet-300 disabled:cursor-not-allowed disabled:shadow-none;
  }

  .input-base {
    @apply border border-neutral-200 dark:border-neutral-700  pl-11 py-2 focus:outline-2 focus:outline-action focus:outline-offset-0 rounded-lg;
  }
  .input-box {
    @apply flex flex-col space-y-2 relative;
  }
}
